body{
    background-color: #f9f9f9;
    font-family: monospace;
    background-size: auto 100vh; /* manter proporção ideal */
    height: 100vh;
}

a{
    color: orangered;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    font-size: 30px;
    text-decoration: underline;
}

.menu ul{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}
.site-subtitle,
.site-title{
    color: orangered;
    text-align: center;
}
.site-subtitle{
    color: black;
    font-style: italic;
}