@import "https://fonts.googleapis.com/css2?family=Righteous&display=swap";
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', monospace;
    background-color: rgba(0, 0, 0, 0.8);
    color: whitesmoke;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

header div .menu__navegacao {
    background-color: rgba(0, 0, 0, 0.5);
}

header div a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

header div a:hover {
    color: #8a2be2;
    font-size: 25px;
    transition: color 500ms;
}

section {
    margin: 150px;
}

.banner {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 100px;
    text-align: center;
}

.banner a {
    color: #8a2be2;
    text-decoration: line-through;
}

.banner img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: #8a2be2 solid 2px;
    padding: 1px;
    margin: 20px;
}

.menu__navegacao {
    display: flex;
    width: 100vw;
    padding: 1rem 1.6rem;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
}

.sobre {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.contato {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}